/* Image Preview */
.image-preview {
    margin-top: 15px;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-top: 10px;
  }
  