.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css or styles.css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column for smaller screens */
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
}

/* For larger screens */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 200px 1fr; /* Sidebar + content */
    grid-template-areas:
      "header header"
      "side main"
      "footer footer";
  }

  .side-menu {
    grid-area: side;
  }

  .main-content {
    grid-area: main;
  }
}

/* Styles to hide elements on screens wider than 768px */
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Styles to show content only on mobile screens */
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
